* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

.logo {
  font-size: 1.5rem;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 4px;
  width: 25px;
  background-color: #fff;
  margin: 3px 0;
  transition: all 0.3s ease;
}


.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}


@media (max-width: 7608px) {
  .nav-links {
    position: absolute;
    top: 60px; 
    left: 0;
    right: 0;
    background-color: #333;
    flex-direction: column;
    display: none; 
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: flex; 
  }
}
